.logo {
    text-decoration: none;
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
}

.logo:hover {
    font-style: italic;
}

.nav-bar {
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

.nav {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
}

.nav:hover {
    text-decoration: underline;
    font-weight: bold;
}

.right {
    justify-content: end;
    margin-top: 0;
    font-size: 12px;
    font-weight: bold;
}

.right-bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    margin-right: 50px;
    margin-top: 20px;
}
.search {
    line-height: 1.7em;
    border: 1px solid #ccc;
    width: 50%;
}

input {
    border: none;
    outline: none;
}

.fa {
    text-decoration: none;
    color: #000;
    padding: 8px;
}

@media (max-width: 1100px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .logo {
        font-size: 30px;
    }

    .nav-bar {
        gap: 10px;
        padding: 10px;
    }

    .nav {
        font-size: 10px;
    }
}

