.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.left-section {
    width: 50%;
}

.right-section {
    width: 50%;
}

.first-section {
    width: 100%;
}